body{
	margin:0;
	padding:0;
	font-family:'courier new',courier,monospace;
	background:linear-gradient(89deg,#4C2D73 0%,#4C2D73 100%);

}

.center{
	justify-content: center;
}

button{
	cursor:pointer;
}
